pipeline/pl_data_load/pl_data_load.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"onprem-storage":{"type":"string"},"singh_lakehouse":{"type":"string"}},"variables":{},"resources":[{"name":"pl_data_load","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Get files Metadata","type":"GetMetadata","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"fieldList":["childItems"],"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"FileServerLocation"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[],"externalReferences":{"connection":"[parameters('onprem-storage')]"}},"storeSettings":{"type":"FileServerReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"Iterate Files","type":"ForEach","dependsOn":[{"activity":"Get files Metadata","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Get files Metadata').output.childItems","type":"Expression"},"activities":[{"name":"Load data to Lakehouse","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"FileServerReadSettings","recursive":true,"modifiedDatetimeStart":{"value":"@addDays(utcNow(), -1)","type":"Expression"},"modifiedDatetimeEnd":{"value":"@utcNow()","type":"Expression"},"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"FileServerLocation","fileName":{"value":"@item().name","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[],"externalReferences":{"connection":"[parameters('onprem-storage')]"}}},"sink":{"type":"LakehouseTableSink","tableActionOption":"Append","datasetSettings":{"annotations":[],"linkedService":{"name":"singh_lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"141d83be-668e-4f6b-a050-e254d36bcc2e","artifactId":"[parameters('singh_lakehouse')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"table":{"value":"@replace(string(item().name), '.csv' , '')\n","type":"Expression"}}}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}]}},{"name":"Data Transformation","type":"RefreshDataflow","dependsOn":[{"activity":"Iterate Files","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"dataflowId":"774ff9ab-d6c2-4ab0-8140-fd65f995bbd5","workspaceId":"141d83be-668e-4f6b-a050-e254d36bcc2e","notifyOption":"NoNotification","dataflowType":"Dataflow-Gen2"}},{"name":"SCD Type1 Implemtation","type":"TridentNotebook","dependsOn":[{"activity":"Data Transformation","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"db61692d-c512-49f6-8b75-77b13144c8ee","workspaceId":"141d83be-668e-4f6b-a050-e254d36bcc2e"}}],"lastModifiedByObjectId":"7363ee10-9a4f-44ac-bfde-0eb64d179397","lastPublishTime":"2025-05-06T21:17:23Z"},"dependsOn":[]}]}